.contact{
    position: relative;

    &_content{
        grid-column: 2 / span 3;
        grid-row: span 5;

        span{
            text-transform: uppercase;
            color: $secondary-color;
            font-size: 12px;
            font-weight: bold;
            display: block;
            margin-bottom: 1em;
        }

        p{
            margin: 2rem 0;
        }
    }

    &_form{
        display: contents;

        &_surname{
            grid-column: 6 / span 3;
        }

        &_name{
            grid-column: 9 / span 3;
        }

        &_mail{
            grid-column: 6 / span 3;
            grid-row: 2;
        }

        &_phone{
            grid-column: 9 / span 3;
            grid-row: 2;
        }

        .line{
            display: block;
            height: 1px;
            width: 100%;
            background-color: $text-color-grey-light;
            grid-column: 6 / span 6;
            grid-row: 3;
        }

        &_subject{
            grid-column: 6 / span 3;
            grid-row: 4;
        }

        &_message{
            grid-column: 6 / span 6;
            grid-row: 5;
        }

        &_checkbox{
            grid-column: 6 / span 6;
            grid-row: 6;
            font-size: 12px;
            display: flex;
            gap: 1em;
            margin-top: -1em;
        }

        input[type=submit]{
            grid-row: 7;
            grid-column: 6 / span 3;
            width: fit-content;
        }

        .toast{
            grid-column: 6 / span 6;
            grid-row: 8;
            border-radius: 5px;
            background-color: #27ae60;
            color:$text-color-white;
            padding: 1rem 2rem;
            font-size: 14px;
            text-align: center;
            opacity: 0;
            transition: .4s ease-out;

            &.-launch{
                animation: toast 4s ease-in-out;
            }
        }
    }
}

@media screen and (max-width: $large) { 
    .contact{    
        &_content{
            grid-column: span 6;
            grid-row: 1;

            p{
                margin: 1rem 0;
            }
        }
    
        &_form{    
            &_surname{
                grid-column: span 6;
                grid-row: 2;
            }
    
            &_name{
                grid-column: span 6;
                grid-row: 3;            }
    
            &_mail{
                grid-column: span 6;
                grid-row: 4;
            }
    
            &_phone{
                grid-column: span 6;
                grid-row: 5;
            }
    
            .line{
                grid-column: span 6;
                grid-row: 6;
                margin: 1rem 0;
            }
    
            &_subject{
                grid-column: span 6;
                grid-row: 7;
            }
    
            &_message{
                grid-column: span 6;
                grid-row: 8;
            }
    
            &_checkbox{
                grid-column: span 6;
                grid-row: 9;
                margin: .5rem 0;
                align-items: start;
            }
    
            input[type=submit]{
                grid-column: span 3;
                grid-row: 10;
            }
    
            .toast{
                grid-column: span 6;
                grid-row: 11;
            }
        }
    }
    
}

@keyframes toast {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}