

.slider{
    overflow-y: hidden;

    &::-webkit-scrollbar {
        display: none;
        -ms-overflow-style: none;  
        scrollbar-width: none; 
    }

    &_content{
        height: fit-content;
        grid-column: span 6;

        span{
            text-transform: uppercase;
            color: $secondary-color;
            font-size: 12px;
            font-weight: bold;
            display: block;
            margin-bottom: 1em;
        }

        p{
            margin: 1.5rem 0;
        }
    }
}

.swiper-navigation{
    grid-column: 12;
    grid-row: 1;
    align-self: end;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 1rem;
    gap: .5rem;

    .swiper-button{
        width: 64px;
        height: 64px;
        border: 1px solid $text-color-grey-light;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $text-color-black;
        cursor: pointer;

        &-disabled{
            opacity: .5;
            cursor: initial;
        }

        svg{
            width: 24px;
            height: 24px;
        }

    }
    .swiper-button-next{
    }

    .swiper-button-prev{
        transform: scaleX(-1);
        transform-origin: center;
    }
}



#slider{
    position: relative;
    overflow: visible;
    width: 100%;
    box-sizing: content-box;
    grid-column: span 12;
    grid-row: 2;

    .swiper-slide{
        position: relative;
        height: auto;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform-origin: center;
            transition: .2s ease-out;
        }
        
        a{
            text-decoration: none;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;
            padding: 1.5em 1.5em 0 1.5em;
            position: absolute;
            bottom: 1em;
            z-index: 20;

            &::after{
                content: url("../../../../../../app/themes/press-wind/assets/media/arrow-right-icon-white.svg");
                display: inline-block;
            }

            h4{
                color: $text-color-white;
                margin-right: 1em;
            }
        }    
        
        &::after{
            content: " ";
            display: block;
            background-color: $secondary-color;
            opacity: .7;
            width: 100%;
            height: 6rem;
            transform: scaleY(0);
            position: absolute;
            z-index: 10;
            left: 0;
            bottom: 0;
            transform-origin: bottom;
            transition: .2s ease-out;
        }

        &:hover{
            &::after{
                transition: .4s ease-in-out;
                transform: scaleY(1);
            }

            img{
                transition: .4s ease-in-out;
                transform: scale(1.1);
            }
        }
    }
}


@media screen and (max-width: $large) { 
    .slider{
        &_content{
            grid-column: span 6;
            grid-row: 1;

            p{
                margin: 1rem 0;
            }
        }
    }

    .swiper-navigation{
        grid-column: 1 / span 6;
        grid-row: 3;
        justify-content: start;
    }

    #slider{
        grid-column: span 6;
        grid-row: 2;
        height: 400px;
    }
}