.layout{
    @extend .grid;
    padding: 0 2em;
    max-width: $layoutSize;
    margin: auto;
    height: 100%;

    &.-auto-rows{
        grid-auto-rows: 1fr;
    }
}

@media screen and (max-width: $large) { 
    .layout{
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 14px;
        padding: 0 1.5rem;
    }
}