// COLORS

$primary-color: #006FB7;
$secondary-color: #009DEA;
$tertiary-color: #64CEFF;

$text-color-white: #FFF;
$text-color-grey-light: #EEE;
$text-color-grey: #DDD;
$text-color-grey-dark: #7F878D;
$text-color-black: #49545D;


// FONTS

$rubik: 'Rubik', sans-serif;
$primary-font: $rubik;


$layoutSize: 1520px;

// BREAKPOINTS

$large: 980px;
$small: 570;